/* ----------------- */
/* ----------------- */
/* ----------------- */

/* Media queries */

@media screen and (min-width: 430px) {

    /* Nav 2 */

    .nav2 .nav {
        padding-left: 40px;
        & .nav-link {
            font-size: 12px;
            margin: 5px 10px 0 0;
        }
        & .nav-link:hover {
            font-size: 13px;
        }
    
    }

    /* Banner */

    #banner .bannerPremium {
        height: 150px;
        margin-top: 30px;
        border-radius: 5px;
        border-top: $border430;
        border-bottom: $border430;
    }

    /* Beneficios */

    #beneficios .premium{
        margin-bottom: 30px;
        & img{
            margin-left: 0;
        }
    }

    /* Footer */

    .logo-footer {
        display: none;
    }

    .sec {
        width: 50%;
        & h2 {
            font-size: 20px;
        }
        & li {
            font-size: 10px;
        }
    }
}

@media screen and (min-width: 768px) {

    /* Nav 2 */

    .nav2 .nav {
        padding-right: 40px;
        & .nav-link {
            font-size: 16px;
        }
        & .nav-link:hover {
            font-size: 18px;
        }
    }

    /* Banner */

    #banner .bannerPremium {
        height: 250px;
        margin-top: 30px;
        border-radius: 15px;
        border-top: $border768;
        border-bottom: $border768;
    }

    /* Beneficios */

    #beneficios .premium{
        margin-bottom: 30px;
        & img{
            margin-left: 30px;
        }
    }

    /* Footer */

    .sec {
        width: 50%;
        & h2 {
            font-size: 20px;
        }
        & li {
            font-size: 14px;
        }
    }
}

@media screen and (min-width: 992px) {

    /* Nav 2 */

    .nav2 {
        background-color: $cyan;
        height: 30px;
        & .nav-link {
            color: $cream !important;
            font-family: $primaryFont;
            font-size: 18px;
            margin-left: 50px;
            padding: 0;
            transition: font-size 100ms;
        }
        & .nav-link:hover {
            font-size: 19px;
            color: $darkBlue !important;
            font-weight: bold;
        }
    }

    /* Banner */

    #banner .bannerPremium {
        height: 350px;
        margin-top: 30px;
        border-radius: 15px;
        border-top: $border768;
        border-bottom: $border768;
    }

    /* Beneficios */

    #beneficios img{
        margin-left: 0px;
    }
}

@media screen and (min-width: 1200px) {

    /* Banner */

    #banner .bannerPremium {
        height: 400px;
        margin-top: 30px;
        border-radius: 20px;
        border-top: $border1;
        border-bottom: $border1;
    }

    /* Beneficios */

    #beneficios img{
        margin-left: 20px;
    }

    /* Footer */

    .logo-footer {
        display: initial;
        height: 40px;
    }

    .sec h2 {
        font-size: 24px;
    }

    .sec li {
        font-size: 14px;
    }
}

@media screen and (min-width: 1600px){

    /* Banner */

    #banner .bannerPremium {
        height: 600px;
    }

}

@media screen and (min-width: 1920px){

    /* Beneficios */

    #beneficios img{
        margin-left: 100px !important;
    }
}