$darkBlue: #222831;
$lightGray: #393E46;
$cyan: #00ADB5;
$cream: #EEEEEE;

$primaryFont: 'Lato', sans-serif;
$secondaryFont: 'Shippori Antique', sans-serif;
$shadow1: 2px 2px 2px $darkBlue;

$margin1: 30px;

$border1: 5px solid $cyan;
$border430: 1px solid $cyan;
$border768: 3px solid $cyan;