@import "variablesPremium";
@import "headerPremium";
@import "mainPremium";
@import "footerPremium";
@import "mediaQueriesPremium";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General */

html {
    scroll-behavior: smooth;
}

body {
    background-color: $darkBlue;
}