@import "variablesNoticias";
@import "headerNoticias";
@import "mainNoticias";
@import "footerNoticias";
@import "mediaQueriesNoticias";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General */

html {
    scroll-behavior: smooth;
}

body {
    background-color: $darkBlue;
}

