* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General */

html {
    scroll-behavior: smooth;
}

body {
    background-color: #222831;
    /* background-image: linear-gradient(to top, #000000, #222831); */
}

header {
    position: sticky;
    z-index: 999;
}

/* ----------------- */

/* Nav 1 */

.nav1 .navbar {
    background-color: #222831 !important;
}

.nav1 .nav-link {
    color: #00ADB5 !important;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin-left: 40px;
}

.nav1 .nav-link:hover {
    color: #EEEEEE !important;
}

.navbar-toggler {
    border-color: #222831 !important;
}

.navbar-toggler-icon {
    background-image: url(./imgs/mb.svg) !important;
}

/* Nav 2 */

.nav2 {
    background-color: #00ADB5;
    height: 30px;
}

.nav2 .nav-link {
    color: #EEEEEE !important;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin-left: 50px;
    padding: 2px 0 0 0;
    transition: font-size 100ms;
}

.nav2 .nav-link:hover {
    font-size: 19px;
    color: #222831 !important;
    font-weight: bold;
}

/* ----------------- */

/* Main */

/* Carrusel */

.carousel-control-prev {
    /* background-color: red !important; */
    /* margin-left: 170px; */
    width: 5%;
}

.carousel-control-next {
    /* background-color: red !important; */
    /* margin-right: 170px; */
    width: 5%;
}

.slide {
    margin-top: 30px;
}

.carousel-inner {
    border-radius: 20px;
    border-top: 5px solid #00ADB5;
    border-bottom: 5px solid #00ADB5;
}

/* Selectores */

.selectores {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.dropdown {
    display: inline-block;
}

.btn {
    background-color: #EEEEEE;
    color: #393E46;
    font-family: 'Lato', sans-serif;
}

.dropdown-menu {
    background-color: #393E46;
}

.dropdown-item {
    color: #EEEEEE;
    font-family: 'Lato', sans-serif;
}

.btn:hover {
    background-color: #393E46;
    color: #EEEEEE;
    font-weight: bold;
}

.dropdown-item:hover {
    font-weight: bold;
}

/* Separador */

.separador-estrenos {
    width: 100%;
    background-color: #00ADB5;
    margin-top: 70px;
}

.separador h2 {
    font-size: 24px;
    color: #EEEEEE;
    font-family: 'Shippori Antique', sans-serif;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px #222831;
    padding-left: 15px;
}

/* Estrenos */

#premiere .premiere {
    display: flex;
    flex-wrap: wrap;
}

#premiere {
    margin-top: 30px;
}

.card {
    border: 0;
    background-color: transparent;
}

.card-img-top {
    border-radius: 10px;
    border-top: 2px solid #00ADB5;
    border-bottom: 2px solid #00ADB5;
}

.card-body {
    background-color: #222831;
}

.card-body .card-title {
    font-size: 18px;
}

.card-body .card-title a {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: #EEEEEE;
}

.card-body .card-title a:hover {
    color: #00ADB5;
}

.card-bookmark {
    position: absolute;
    margin: 20px 0 0 20px;
}

/* Separador */

.separador-miLista {
    width: 100%;
    background-color: #00ADB5;
    margin-top: 10px;
}

/* Mi lista */

#miLista {
    margin-top: 30px;
}

#miLista .miLista {
    display: flex;
    flex-wrap: wrap;
}

/* Separador */

.separador-todas {
    width: 100%;
    background-color: #00ADB5;
    margin-top: 10px;
}

/* Todas */

#todas {
    margin-top: 30px;
}

#todas .todas {
    display: flex;
    flex-wrap: wrap;
}

/* Separador */

.separador-proximos {
    width: 100%;
    background-color: #00ADB5;
    margin-top: 10px;
}

/* Próximos estrenos */

#proximos {
    margin-top: 30px;
}

#proximos .proximos {
    display: flex;
    flex-wrap: wrap;
}

/* ----------------- */

/* Footer */

footer .row {
    margin-top: 30px;
    height: 300px;
    background-color: #393E46;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-footer {
    height: 70px;
}

.sec {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sec h2 {
    color: #EEEEEE;
}

.sec ul {
    list-style: none;
}

.sec li {
    font-style: none;
    color: #EEEEEE;
    font-family: 'Lato', sans-serif;
}

.sec li a {
    text-decoration: none;
    color: #EEEEEE;
}

.sec li a:hover {
    color: #00ADB5;
    font-weight: bold;
}

/* ----------------- */
/* ----------------- */
/* ----------------- */

/* Media queries */

@media screen and (min-width: 430px) {

    /* Nav 2 */

    .nav2 .nav {
        padding-left: 40px;
    }

    .nav2 .nav-link {
        font-size: 12px;
        margin: 5px 10px 0 0;
    }

    .nav2 .nav-link:hover {
        font-size: 13px;
    }

    /* Footer */

    .logo-footer {
        display: none;
    }

    .sec {
        width: 50%;
    }

    .sec h2 {
        font-size: 20px;
    }

    .sec li {
        font-size: 10px;
    }
}

@media screen and (min-width: 576px) {

    /* Nav 2 */

    .nav2 .nav {
        padding-left: 40px;
    }

    .nav2 .nav-link {
        font-size: 14px;
        margin: 3px 15px 0 0;
    }

    .nav2 .nav-link:hover {
        font-size: 16px;
    }

    /* Carrusel */

    .carousel-inner {
        border-radius: 10px;
        border-top: 2px solid #00ADB5;
        border-bottom: 2px solid #00ADB5;
    }

    /* Selectores */

    .selectores {
        display: flex;
        flex-wrap: wrap;
    }

    /* Footer */

    .sec {
        width: 50%;
    }

    .sec h2 {
        font-size: 20px;
    }

    .sec li {
        font-size: 10px;
    }
}

@media screen and (min-width: 768px) {

    /* Nav 2 */

    .nav2 .nav {
        padding-right: 40px;
    }

    .nav2 .nav-link {
        font-size: 16px;
    }

    .nav2 .nav-link:hover {
        font-size: 18px;
    }

    /* Footer */

    .logo-footer {
        display: initial;
        height: 40px;
    }

    .sec h2 {
        font-size: 24px;
    }

    .sec li {
        font-size: 14px;
    }
}

@media screen and (min-width: 992px){

    .nav2 {
        background-color: #00ADB5;
        height: 30px;
    }
    
    .nav2 .nav-link {
        color: #EEEEEE !important;
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        margin-left: 50px;
        padding: 0;
        transition: font-size 100ms;
    }
    
    .nav2 .nav-link:hover {
        font-size: 19px;
        color: #222831 !important;
        font-weight: bold;
    }
}